<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE web-app
     PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
     "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
 
 <web-app>
 	<servlet>
		<servlet-name>ServletPrototype</servlet-name>
		<servlet-class>servlet.ServletPrototype</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletPrototype</servlet-name>
		<url-pattern>ServletPrototype</url-pattern>
	</servlet-mapping>
 </web-app>